block nav
    nav.navbar.navbar-expand-lg.navbar-light.bg-d9.mb-5
      a.navbar-brand(href= 1) Interaktiv Saga
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarText' aria-controls='navbarText' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarText.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href= 1)
              | Home 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#') About us   