extends layout

block content
    .container.mb-3
      h1.text-white.text-center.mb-0 Information och Bakgrund

    .container.bg-DG.rounded.shadow
      h6.m-5.p-3.text-white.roboto Detta spel är ett projekt för kursen webbutveckling 2 och webbserverprogrammering 1. Det är ett interaktivt spel med konceptet "choices matter" vilket betyder att de val du gör kommer att påverka vilket slut du får. I detta projekt har jag jobbat med databaser för att lära mig förstå de och kunna använda de.
      