extends layout

block content
    body
            .container.mb-3
              h1.text-white.text-center.mb-5 De tre Bockarna Bruse

              a(href='story/1').text-decoration-none.m-5
                button.shadow.btn.btn-secondary.btn-lg.btn-block.m-1.btn-primary(type='button') starta spel