extends layout

block content
    body
        .container
            p= story[0].body


        each link in links
            button.btn.btn-secondary.btn-lg.btn-block(type='button', href= link.target_id) 
                p= link.description