body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

.bg-body
  background-color: rgb(140, 255, 205)

a
  color: #00B7FF

.bg-lightG
  background-color: rgb(153, 255, 153)

.bg-DlightG
  background-color: rgb(102, 255, 102)

